* {
    margin: 0px;
    padding: 0px;
}

/* Elements */
h1, p, td, label, button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

div, h1 {
    margin: 12px;
}

label, input {
    margin-bottom: 4px;
}

button {
    margin-top: 4px;
    padding: 4px;
}

h1 {
    font-size: 24px;
}

/* Classes */
#board {
    border-collapse: collapse;
}

#board th, #board tr, #board td{
    min-height: 120px;
    height: 120px;
    max-height: 120px;
    min-width: 120px;
    width: 120px;
    max-width: 120px;
    padding: 4px;
    border: 1px solid black;
    font-size: 12px;
    text-align: center;
    word-wrap: break-word;

    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

/* IDs */
#delim-input, #dim-input {
    min-width: 80px;
    width: 80px;
    max-width: 80px;
}